aiofiles
aiosqlite
alabaster
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
bcrypt
beautifulsoup4
binaryornot
black
bleach
brotlipy==0.7.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
comm
comtypes==1.2.0
contourpy==1.0.7
cookiecutter
cryptography
cycler==0.11.0
debugpy
decorator
defusedxml
diff-match-patch
dill
docstring-to-markdown
docutils
entrypoints
executing
fastjsonschema
filelock==3.12.1
flake8
fonttools==4.39.4
fsspec==2023.6.0
huggingface-hub==0.15.1
idna
imagesize
importlib-metadata
importlib-resources
inflection==0.5.1
intervaltree
ipykernel
ipython
ipython-genutils
isort
jedi
jellyfish
Jinja2
jinja2-time
json5
jsonschema
jupyter-events
jupyter-lsp
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
keyring
kiwisolver==1.4.4
lazy-object-proxy
lxml
MarkupSafe
matplotlib==3.7.1
matplotlib-inline
mccabe
mistune==0.8.4
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
mypy-extensions==0.4.3
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
numpydoc
opencv-python==4.7.0.72
packaging
pandocfilters
paramiko
parso
pathspec
pexpect
pickleshare
Pillow==9.4.0
pkgutil_resolve_name
platformdirs
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
pydocstyle
pyflakes
Pygments
pylint
pylint-venv
pynacl==1.4.0
pyOpenSSL
pyparsing
pyreadline
PySocks
pytest
pytest-cov
pytest-xdist
python-dateutil
python-jsonrpc-server
python-language-server
pytz
pywin32==302
pywinpty==1.1.4
pyyaml
pyzmq
qtconsole
QtPy
readme-renderer
requests
requests-toolbelt
resolvelib==0.5.5
rich
rsa==4.7.2
scipy
Send2Trash==1.9.0
shellingham
simplegeneric
six
sniffio
snowballstemmer
soupsieve
sparklines==1.0.0
sphinx
sphinx-click
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
sphinxext-remoteliteralinclude
spyder
sqlalchemy
sqlite-utils
statick==0.20.0
sympy
tensorboard
termcolor
terminado
testpath
text-unidecode
threadpoolctl
toml
tomlkit
tornado
tqdm
traitlets
typed-ast
typing-extensions
typing-inspect
ujson
unidiff
urllib3
validators
wcwidth
webencodings
websocket-client
Werkzeug
win-inet-pton
win32-setctime
winshell
wurlitzer
xgboost==1.5.0
xlrd==2.0.1
xlwt
yapf
yarl
zipp
